<!DOCTYPE html>
<html ng-app="its">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <title>ITS</title>

    <link rel="stylesheet" href="../static/vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/vendor/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body>
    <!-- Navigation top Bar -->
    <nav role="navigation" class="navbar navbar-inverse navbar-static-top" ng-controller="NavBarCtrl">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Lupo Libero</a>
            </div>

            <!-- Content -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Links -->
                <ul class="nav navbar-nav" id="bs-example-navbar-collapse-1">
                    <li actual-link><a href="#/">Home</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Tickets <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Roadmap</a></li>
                            <li><a href="#">New Tickets</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li actual-link><a href="#/blog">Blog</a></li>
                </ul>

                <!-- Account -->
                <ul class="nav navbar-nav navbar-right" ng-if="userIsConnected()">
                    <li><a href="#">{{ user.name }}</a></li>
                    <button class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>
                </ul>

                <!-- Login Form -->
                <form class="form-group navbar-form navbar-right" role="login" ng-if="!userIsConnected()" ng-submit="login()">
                    <input  type="text"     class="form-control"   ng-model="loginform.login" placeholder="Email">
                    <input  type="password" class="form-control"   ng-model="loginform.password" placeholder="Password">
                    <button type="submit"   class="btn btn-default">Sign In</button>
                    <button type="button"   class="btn btn-primary">Sign Up</button>
                </form>

            </div> <!-- END: Content NavBar -->

        </div>
    </nav><!-- END: Navigation top Bar -->

    <div class="container">
        <div  id="alert-box" ng-show="alert.level" class="alert alert-{{alert.level}}">{{ alert.message }}</div>
        <div>{{ jsonp }}</div>

        <div ng-show="langSrv.elementsNotTranslated" class="alert alert-warning">
            Translation not fully available ({{ elements_not_translated }} elements missing)
        </div>
        <div ng-show="langSrv.langNotAvailable" class="alert alert-warning">
            You favorite language is not available for this document.
            The content is displayed with the original language. If you want you could help in translating this document.</div>
        <div ng-view></div>

        <footer>
            <p>&copy; Company 2012</p>
        </footer>
        <hr/>
    </div>

    <script src="modules.js"                                               ></script>
    <script src="../static/vendor/jquery/dist/jquery.min.js"               ></script>
    <script src="../static/vendor/sizzle/dist/sizzle.min.js"               ></script>
    <script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"      ></script>
    <script src="../static/vendor/angular/angular.min.js"                  ></script>
    <script src="../static/vendor/angular-route/angular-route.min.js"      ></script>
    <script src="../static/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="../static/vendor/angular-couchdb/couch.js"                ></script>
    <script src="../static/js/main.js"                                     ></script>
</body>
</html>
