<!DOCTYPE html>
<html ng-app="its">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <title>ITS</title>

    <link rel="stylesheet" href="../static/vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/vendor/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body>
    <!-- Navigation top Bar -->
    <nav role="navigation" class="navbar navbar-inverse navbar-static-top" ng-controller="NavBarCtrl">
        <div class="container-fluid">
            <a class="navbar-brand" href="#/">Brand</a>

            <!-- Links -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li class="active"><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Dropdown <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Account -->
            <ul class="nav navbar-nav navbar-right" ng-if="userIsConnected()">
                <li><a href="#">{{ user.name }}</a></li>
                <button class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>
            </ul>

            <!-- Login Form -->
            <form class="form-group navbar-form navbar-right" role="login" ng-if="!userIsConnected()" ng-submit="login()">
                <input  type="text"     class="form-control"   ng-model="loginform.login" placeholder="Email">
                <input  type="password" class="form-control"   ng-model="loginform.password" placeholder="Password">
                <button type="submit"   class="btn btn-default">Sign In</button>
                <button type="button"   class="btn btn-primary">Sign Up</button>
            </form>

        </div>
    </nav><!-- END: Navigation top Bar -->

    <div class="container">
    </div>

    <script src="modules.js"                                         ></script>
    <script src="../static/vendor/jquery/dist/jquery.min.js"         ></script>
    <script src="../static/vendor/sizzle/dist/sizzle.min.js"         ></script>
    <script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/vendor/angular/angular.min.js"            ></script>
    <script src="../static/vendor/angular-route/angular-route.min.js"></script>
    <script src="../static/js/main.js"                               ></script>
</body>
</html>
