<!DOCTYPE html>
<html ng-app="its">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <title>ITS</title>

    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body>
    <!-- Navigation top Bar -->
    <nav role="navigation" class="navbar navbar-inverse navbar-static-top" ng-controller="NavBarCtrl">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/project">Lupo Libero</a>
            </div>

            <!-- Content -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Links -->
                <ul class="nav navbar-nav" id="bs-example-navbar-collapse-1">
                    <li actual-link><a href="#/project" translate>Home</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" translate>
                            Demand <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Roadmap</a></li>
                            <li><a href="#">New Demand</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li actual-link><a href="#/blog">Blog</a></li>
                </ul>

                <!-- Account -->
                <ul class="nav navbar-nav navbar-right" ng-if="userIsConnected()">
                    <li><a href="#">{{ user.name }}</a></li>
                    <button class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>
                </ul>

                <!-- Login Form -->
                <form class="form-group navbar-form navbar-right" role="login" ng-if="!userIsConnected()" ng-submit="login()">
                    <input  type="text"     class="form-control"   ng-model="loginform.user" placeholder="Email">
                    <input  type="password" class="form-control"   ng-model="loginform.password" placeholder="Password">
                    <button type="submit"   class="btn btn-default" translate>Sign In</button>
                    <button type="button"   class="btn btn-primary" ng-click="signup()" translate>Sign Up</button>
                </form>

            </div> <!-- END: Content NavBar -->

        </div>
    </nav><!-- END: Navigation top Bar -->

    <div class="container" ng-controller="ContainerCtrl">
        <ol class="breadcrumb">
          <li ng-repeat="piece in breadcrumb" ng-class="{active: $last}">
            <a ng-if="!$last" ng-href="#{{piece.link}}">{{piece.value |capitalize}}</a>
            <span ng-if="$last">{{piece.value |capitalize}}</span>
          </li>
        </ol>
        <alert ng-repeat="alert in notif.alerts" type="alert.type" close="notif.closeAlert($index)">{{alert.message}}</alert>

        <div ng-view></div>

        <footer>
            <p>&copy; Company 2014</p>
        </footer>
        <hr/>
    </div>

    <script src="modules.js"                                                       ></script>
    <!-- BootStrap -->
    <script src="vendor/jquery/dist/jquery.js"                           ></script>
    <script src="vendor/sizzle/dist/sizzle.js"                           ></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"                  ></script>
    <!-- Angular -->
    <script src="vendor/angular/angular.js"                              ></script>
    <script src="vendor/angular-route/angular-route.js"                  ></script>
    <script src="vendor/angular-resource/angular-resource.js"            ></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"            ></script>
    <!-- Angular Modules -->
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"          ></script>
    <script src="vendor/angular-translate/angular-translate.js"          ></script>
    <script src="vendor/angular-couchdb/couch.js"                        ></script>
    <script src="js/main.js"                                             ></script>
</body>
</html>
