[submodule "src/Notification"]
	path = src/Notification
	url = https://github.com/LupoLibero/couch-ng-Notification.git
[submodule "src/Directives"]
	path = src/Directives
	url = https://github.com/LupoLibero/directives.git
[submodule "src/dbSelect"]
	path = src/dbSelect
	url = https://github.com/LupoLibero/couch-ng-dbSelect.git
[submodule "src/Translation"]
	path = src/Translation
	url = https://github.com/LupoLibero/couch-ng-Translation.git