[submodule "modules/Notification"]
	path = modules/Notification
	url = https://github.com/LupoLibero/couch-ng-Notification.git
[submodule "modules/dbSelect"]
	path = modules/dbSelect
	url = https://github.com/LupoLibero/couch-ng-dbSelect.git
[submodule "modules/Translation"]
	path = modules/Translation
	url = https://github.com/LupoLibero/couch-ng-Translation.git
