#loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 8888;
}
#loader>div {
  margin: 300px auto;
}

.lists {
  position: absolute;
  top: 120px;
  bottom: 50px;
  left: 20px;
  width: 100%;
}
.list {
  width: 16%;
  margin: 0 4px;
  float: left;
  border-radius: 5px;
  border: 1px solid black;
  height: 100%;
  background-color: grey;
  text-align: center;
}
.list>header {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 3px 10px;
  text-transform: capitalize;
  background-color: lightgrey;
}
.list>footer {
  bottom: 0;
  background-color: lightgrey;
  height: 25px;
  position: absolute;
}
.list>content {
  overflow-y: auto;
  position: absolute;
  bottom: 30px;
  left: 0;
  top: 40px;
  width: 100%;
}
.list>content>div {
  text-align: left;
  margin: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  background-color: lightgrey;
}
.list>content>div>button {
  float: right;
}

.container>footer {
  position: absolute;
  bottom: 5px;
}

.notif-overlay.ng-enter, .notif-overlay.ng-leave {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.notif-overlay.ng-enter {
  animation-name: slideInRight;
}
.notif-overlay.ng-leave {
  animation-name: slideOutRight;
}
