<div class="lists col-md-9">
  <section class="list" ng-repeat="list in results.lists">
    <header>
      {{ list }}
    </header>
    <content>
      <div ng-repeat="card in results.cards |list:results.list_id:list |orderBy:orderByRank()">
        <header>
          <span style="background-color:white">{{ card.id.split('.')[1] }}</span>
          <span class="pull-right"><b>{{results.rank[card.id]}}</b></span>
        </header>
        <p><a goto="card.list" project_id="{{ project.id }}" card_num="{{ card.id.split('.')[1] }}">{{ card.title }}</a></p>
        <p>
          <span style="background-color:red;color:white" ng-repeat="tag in card.tag_list">{{ tag }}</span>
          <!--<div ng-show="results.cost_estimate[card.id] && results.payment[card.id]" class="col-sm-8" tooltip="{{ results.cost_estimate[card.id] }} €">
            <progressbar class="progress-striped active" max="results.cost_estimate[card.id]" value="results.payment[card.id]" type="danger" ><i>{{ results.payment[card.id] }}€</i></progressbar>
          </div>-->
        </p>
        <span ng-show="results.cost_estimate[card.id] && !results.payment[card.id]">{{ results.cost_estimate[card.id] }}€</span>
        <span ng-show="results.payment[card.id]">{{ results.payment[card.id] }}€/{{ results.cost_estimate[card.id] }}€</span>
        <vote id="card.id" element="card" check="results.votes[card.id][login.getName()]"></vote>
      </div>
    </content>
    <footer ng-show="$first" ng-controller="NewCardCtrl">
      <button class="btn btn-link" ng-disabled="login.isNotConnect()" ng-hide="showForm" ng-click="addCard()">Add card</button>
      <div ng-show="showForm">
        <textarea ng-disabled="loading" ng-blur="showForm=false" focus="showForm" ng-model="card.title" ng-keypress="save($event)"></textarea>
        <span us-spinner ng-show="loading"></span>
      </div>
    </footer>
  </section>
</div>
