<div class="lists row">
  <section class="list col-md-2 col-xs-12" ng-repeat="list in results.lists" ng-controller="NewCardCtrl">
    <header>
      {{ list }}
    </header>
    <content>
      <div>
        <div ng-repeat="card in results.cards |list:results.list_id:list |orderBy:orderByRank()">
          <header>
            <span style="background-color:white">{{ card.id.split('.')[1] }}</span>
            <span class="pull-right"><b>{{results.rank[card.id]}}</b></span>
          </header>
          <p><a goto="card.list" project_id="{{ project.id }}" card_num="{{ card.id.split('.')[1] }}">{{ card.title }}</a></p>
          <p>
            <span style="background-color:red;color:white" ng-repeat="tag in card.tag_list">{{ tag }}</span>
            <!--<div ng-show="results.cost_estimate[card.id] && results.payment[card.id]" class="col-sm-8" tooltip="{{ results.cost_estimate[card.id] }} €">
              <progressbar class="progress-striped active" max="results.cost_estimate[card.id]" value="results.payment[card.id]" type="danger" ><i>{{ results.payment[card.id] }}€</i></progressbar>
            </div>-->
          </p>
          <span ng-show="results.cost_estimate[card.id] && !results.payment[card.id]">{{ results.cost_estimate[card.id] }}€</span>
          <span ng-show="results.payment[card.id]">{{ results.payment[card.id] }}€/{{ results.cost_estimate[card.id] }}€</span>
          <vote id="card.id" element="card" check="results.votes[card.id][login.getName()]"></vote>
        </div>
        <div ng-show="showForm">
          <textarea ng-disabled="loading" ng-blur="showForm=false" focus="showForm" ng-model="card.title" ng-keypress="save($event)"></textarea>
          <span us-spinner ng-show="loading"></span>
        </div>
      </div>
    </content>
    <footer ng-show="$first" >
      <button class="btn btn-link" ng-disabled="login.isNotConnect()" ng-hide="showForm" ng-click="addCard()">Add card</button>

    </footer>
  </section>
</div>
