<div class="lists row">
  <lang-bar nb-card="nbCard" lang="currentLang" langs="langs" all-langs="allLangs"></lang-bar>

  <section class="list" ng-repeat="list in default.lists">
    <header>
      {{ list }}
    </header>
    <content>
      <div>
        <div ng-repeat="card in default.cards |list:default.list_id:list |orderBy:orderByRank()">
          <header>
            <span style="background-color:white">{{ card.num }}</span>
            <span class="pull-right"><b>{{ default.rank[card.id] }}</b></span>
          </header>
          <p><a goto="card.list" project_id="{{ project.id }}" card_num="{{ card.num }}">{{ card.title }}</a></p>
          <p>
            <span style="background-color:red;color:white" ng-repeat="tag in card.tag_list">{{ tag }}</span>
          </p>
          <span ng-show="default.cost_estimate[card.id] && !default.payment[card.id]">{{ default.cost_estimate[card.id] }}€</span>
          <span ng-show="default.payment[card.id]">{{ default.payment[card.id] }}€/{{ default.cost_estimate[card.id] }}€</span>
          <vote id="card.id" element="card" check="default.votes[card.id][login.getName()]"></vote>
        </div>
        <div ng-show="showForm">
          <textarea ng-disabled="loading" ng-blur="showForm=false" focus="showForm" ng-model="card.title" ng-keypress="save($event)"></textarea>
          <span us-spinner ng-show="loading"></span>
        </div>
      </div>
    </content>
    <footer ng-show="$first" >
      <button class="btn btn-link" ng-disabled="login.isNotConnect()" ng-hide="showForm" ng-click="addCard()">Add card</button>
    </footer>
  </section>
</div>
