<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
  <h3>New Card</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in notif.alerts" type="alert.type" close="notif.closeAlert($index)">{{alert.message}}</alert>
  <form ng-submit="save()">
    <textarea style="width: 100%;" ng-model="card.title"></textarea>
    <select size="6" ng-model="card.category" ng-options="key as value for (key, value) in categories"></select>
    <div>
      <input type="submit" class="btn btn-primary" value="New Card">
      <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
  </form>
</div>
