<div class="modal-header">
  <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3><edit-field type="input" rev="card._rev" ng-model="card.title.content" lang="card.title.lang" save="saveTitle(value, rev, lang)"></edit-field></h3>
  <subscribe id="card._id"></subscribe>
</div>

<div class="modal-body">
  <p><edit-field type="textarea" rev="card._rev" ng-model="card.description.content" lang="card.description.lang" save="saveDescription(value, rev, lang)"></edit-field></p>
  <hr/>
  <form ng-submit="addComment(newComment)">
    <textarea ng-keypress="keyOnNewComment($event)" ng-disabled="loading" ng-model="newComment"></textarea>
    <input type="submit" class="btn btn-primary"/>
  </form>
  <div ng-repeat="comment in card.activity |orderBy:'-created_at'">
    <div class="activity" ng-show="comment.element">
      <p>Change on {{ comment.element }} by {{ comment.author }}</p>
    </div>
    <div class="comment" ng-show="comment.message">
      <p>{{ comment.author }}</p>
      <p>{{ comment.message }}</p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>
