<div class="modal-header">
  <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3><edit-field rev="card._rev" ng-model="card.title.content" lang="card.title.lang" save="saveTitle(value, rev, lang)"></edit-field></h3>
  <subscribe id="'card:'+card.id" save="subscribe(_id, check)"></subscribe>
</div>

<div class="modal-body">
  <editor save="saveDescription(value, rev, card.description.lang)" rev="card._rev" ng-model="card.description.content"></editor>
  <hr/>
  <form ng-submit="addComment(newComment)">
    <textarea ng-keypress="keyOnNewComment($event)" ng-disabled="loading" ng-model="newComment"></textarea>
    <input type="submit" class="btn btn-primary" />
  </form>
  <div ng-repeat="comment in card.activity |orderBy:'-created_at'">
    <div class="activity" ng-if="comment.element">
      <p>Change on {{ comment.element }} by {{ comment.author }} the {{ comment.date |date }}</p>
    </div>
    <div class="comment" ng-if="comment.message">
      <p>{{ comment.author }}</p>
      <p>{{ comment.message }}</p>
    </div>
  </div>
  <div class="activity">
    <p>{{ card.author }} create this card the {{ card.created_at |date }}</p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>
