<div class="modal-header">
  <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3><edit-field type="input" ng-model="card.title" save="saveTitle()"><edit-field></h3>
  <subscribe id="card._id"></subscribe>
</div>
<div class="modal-body">
  <p><edit-field type="textarea" ng-model="card.description" save="saveDescription()"><edit-field></p>
  <hr/>
  <form ng-submit="addComment()">
    <textarea ng-disabled="loading" ng-model="newComment.message"></textarea>
    <input type="submit" class="btn btn-primary"/>
  </form>
  <div class="comment" ng-repeat="comment in comments">
    <p>{{ comment.author }}</p>
    <p>{{ comment.message }}</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>
