<h2>Roadmap</h2>
<a href="" ng-click="newDemandPopup()">New demand</a>
<div>
  <table-filter list="columns.component.list" label="columns.component.label" filter="columns.filter" item="component"></table-filter>
  <table-filter list="columns.category.list"  label="columns.category.label"  filter="columns.filter" item="category" ></table-filter>
  <table-filter list="columns.status.list"    label="columns.status.label"    filter="columns.filter" item="status"   ></table-filter>
</div>


<table class="table table-striped">
  <tr>
    <th>    #id     </th>
    <th>  Summary   </th>
    <th>  Category  </th>
    <th>   Status   </th>
    <th> Resolution </th>
    <th>   Rank     </th>
    <th></th>
  </tr>
  <tr ng-repeat="demand in demandList | filter: columns.filter">
    <td><a ng-href="{{ url.demand(project.id, demand.id) }}">{{ demand.id }}</a></td>
    <td> <a ng-href="{{ url.demand(project.id, demand.id) }}">{{ demand.title }}</a> </td>
    <td translate>{{ getCategory(demand.category)  }}</td>
    <td>{{  getStatus(demand.status)   }}</td>
    <td>{{  getResolution(demand.resolution) |default:'No resolution'   }}</td>
    <td>{{ demand.rank }}</td>
    <td>
      <button ng-click="vote($index)" class="btn btn-default" ng-model="demand.check" btn-checkbox>+1</button>
    </td>
</table>
