<div class="lists col-md-9">
  Votes: {{ results.votes }}
  <section class="list" ng-repeat="list in results.lists">
    <header>
      {{ list.name }}
    </header>
    <content>
      <div ng-repeat="demand in results.demands |list:results.list_id:list.id |orderBy:orderByRank()">
        <header>
          <h5>{{demand.id}}</h5>
          <span class="pull-right">{{results.rank[demand.id]}}</span>
        </header>
        <p>{{ results.list_id[demand.id] }}{{ demand.title }}</p>
        <p>
          <span style="background-color:red" ng-repeat="tag in results.demands[id].tag_list">{{demand.tag}}</span>
          <span ng-show="results.cost_estimate[id] && !results.payment[demand.id]">{{ results.cost_estimate[demand.id] }}€</span>
          <!--<div ng-show="results.cost_estimate[demand.id] && results.payment[demand.id]" class="col-sm-8" tooltip="{{ results.cost_estimate[demand.id] }} €">
            <progressbar class="progress-striped active" max="results.cost_estimate[demand.id]" value="results.payment[demand.id]" type="danger" ><i>{{ results.payment[demand.id] }}€</i></progressbar>
          </div>-->
          {{ results.votes[demand.id] }}
        </p>
        <vote id="demand._id" check="results.votes[demand.id][login.getName()]"></vote>
      </div>
    </content>
    <footer ng-show="$first">
    </footer>
  </section>
</div>
