<h3>
  <select ng-change="categoryChange()" ng-model="demand.category" ng-options="key as value for (key, value) in categories"></select>
  <span ng-show="loadCategory" us-spinner="bigSpinner"></span>
  <i ng-show="loadCategoryFinish" class="glyphicon glyphicon-ok" style="color:green;"></i>
  {{ demand.id }}:
  <edit-field type="input" ng-model="demand.title" save="titleSave()" lang="actualLang"></edit-field>
</h3>

<hr>

<div class="row">
  <div class="col-xs-9">
    <div class="row">
      <h3>Details</h3>
      <div class="col-xs-6">
        <strong>Status: </strong>
        <select ng-disabled="!login.hasRole('dev')" ng-change="statusChange()" ng-model="demand.status" ng-options="key as value for (key, value) in statuses"></select>
        <span ng-show="loadStatus" us-spinner="littleSpinner"></span>
        <i ng-show="loadStatusFinish" class="glyphicon glyphicon-ok" style="color:green;"></i>
      </div>
      <div class="col-xs-6">
        <strong>Created at: </strong>
        <span>{{demand.created_at |date}}</span>
      </div>
      <div class="col-xs-6">
        <strong>Last Update: </strong>
        <span>{{demand.updated_at |date |default:'Never updated'}}</span>
      </div>
    </div>
    <hr>
      <edit-field type="textarea" ng-model="demand.description" save="descriptionSave()" lang="actualLang"></edit-field>
    <hr>
  </div>
</div>
